@import url('http://fonts.googleapis.com/css?family=Ubuntu:500');

body{
    overflow-y: hidden;
}

#status{
    color: white;
    font-size: 1.5rem;
}

#particles-js{
    background: #397BCE;
    height: 100%;
}

.container{
    position: absolute;
    left: 15rem;
    top: 2rem;
}

button{
    cursor: pointer;
}

h1 {
    font-family: 'Ubuntu';
    font-size: 4rem;
    letter-spacing: .17rem;
    color: white;
}

h1 > button{
    margin-left: .5rem;
}

#messages{
    height: 25rem;
    overflow-y: scroll;
}